<div class="main">
    <div class="toolbar">
        <button class="btn" (click)="back()">
            Back
        </button>
        <button (click)="logout()">
            Logout
        </button>
    </div>
    <div class="container">
        <div class="title">
            Settings
        </div>
        <div class="body">
            <form [formGroup]="settingsForm">
                <div class="input-ctr">
                    <p class="text">Name: </p>
                    <input type="text" class="input" formControlName="name">
                </div>
                <div class="input-ctr">
                    <p class="text">Email:</p>
                    <input type="text" class="input" formControlName="email">
                </div>
                <div class="input-ctr">
                    <p class="text">Role:</p>
                    <select class="selectInput" formControlName="role">
                        <option value="ADMIN">Admin</option>
                        <option value="AUTHOR">Author</option>
                        <option value="USER">User</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="buttons">
            <button type="button" class="btn" (click)="saveSettings()">
                Save
            </button>
            <button type="button" class="btn" (click)="deleteAcct()" >
                Delete your account
            </button>
        </div>
    </div>
</div>
