<div class="main" *ngIf="user">
    <div class="title">
        <h1>Profile</h1>
    </div>
    <div class="toolbar">
        <button (click)="back()">
            Back
        </button>
        <button class="btn" (click)="isOnYourPosts = !isOnYourPosts" [hideIfUnauthorized]="role.author">
            <!-- Only Author get this btn -->
            Favorites / Your Posts
        </button>
        <button class="btn" (click)="goToSettings()" >
            Settings
        </button>
        <button class="btn" (click)="deleteAll()" [hideIfUnauthorized]="role.author">
            Delete All
        </button>
    </div>
    <!-- Your posts -->
    <div class="container" *ngFor="let post of yourPosts">
        <div *ngIf="user.role !== 'User' && isOnYourPosts">
            <div class="title">
                {{post.title}} <p>{{post.author}}</p>
            </div>
            <div class="body">
                <p class="text-content">
                    {{post.bodyText}}
                </p>
            </div>
            <div class="buttons">
                <button class="btn" (click)="editPost(post._id)" >
                    Edit
                </button>
            </div>
        </div>
    </div>
    <!-- Favorites -->
    <!-- <div>
        <div class="container">
            <div class="title">
            </div>
            <div class="body">
                <p class="text-content">
                </p>
            </div>
            <div class="buttons">
                <button class="btn">
                    Remove From Favorites
                </button>
               
            </div>
        </div>
    </div> -->
</div>
