<div class="main">
    <div class="title">
        <h1>Feed</h1>
    </div>

    <div class="toolbar">
     
        <button (click)="goToProfile()">
            Profile
        </button>
    </div>
    <div class="container"  *ngFor="let post of posts; index as i">
        <!-- ngFor goes above -->
        <div class="title">
            {{post.title}} <p>{{post.author}}</p>
        </div>
        <div class="body">
            <p class="text-content">
                {{post.bodyText}}
            </p>
        </div>
        <div class="buttons">
            <!-- <button class="btn">
                Favorite
            </button> -->
            <!-- Admin only -->
            <button class="btn" [hideIfUnauthorized]="role.admin" (click)="deletePost(post._id)">
                Delete
            </button>
        </div>
    </div>
</div>
